<!DOCTYPE html>
<html lang='en'>
<head>
    <meta charset='UTF-8'>
    <meta name='viewport' content='width=device-width, initial-scale=1.0'>
    <title>This is about page</title>
    <link rel='stylesheet' href='/styles/style.css'>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Baloo+Bhai+2:wght@500&family=Bree+Serif&display=swap"
        rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Baloo+Bhai+2:wght@500&family=Bree+Serif&display=swap"
        rel="stylesheet">
</head>
<body>
    <header>
        <nav class="navbar">
            <div id="logo">
                <img src="../Images/logo.jpg" alt="TastyMeals.com">
            </div>

            <ul>
                <li class="item"><a href="./">Home</a></li>
                <li class="item"><a href="./">Services</a></li>
                <li class="item"><a aria-disabled="true">About Us</a></li>
                <li class="item"><a href="./">Contact</a></li>
            </ul>
        </nav>
    </header>

    <main>
        <section id="main">
            <h2 class="primary">
                About Us
            </h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sit, nihil? Soluta molestias enim autem placeat laboriosam maxime quo eveniet nemo, at ipsam error repellat illo suscipit perspiciatis vitae ad, fugiat, consequatur repellendus sapiente! Totam necessitatibus animi aliquam autem dicta inventore, nam temporibus vel voluptates ipsam officiis dignissimos, quaerat ad, porro adipisci id doloremque. Architecto, cupiditate tempora.</p>
        </section>
    </main>

    <script src='/Scripts/script.js'></script>
</body>
</html>