<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TastyMeals.com | Order Your Favorite Meals in Online!</title>
    <link rel="stylesheet" href="../Styles/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Baloo+Bhai+2:wght@500&family=Bree+Serif&display=swap"
        rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Baloo+Bhai+2:wght@500&family=Bree+Serif&display=swap"
        rel="stylesheet">
</head>

<body>
    <header>
        <nav class="navbar">
            <div id="logo">
                <img src="../Images/logo.jpg" alt="TastyMeals.com">
            </div>

            <ul>
                <li class="item"><a href="#">Home</a></li>
                <li class="item"><a href="#">Services</a></li>
                <li class="item"><a href="#">About Us</a></li>
                <li class="item"><a href="#">Contact</a></li>
            </ul>
        </nav>
    </header>

    <main>
        <section id="main">
            <h1 class="primary">
                Welcome to TastyMeals
            </h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempora, quibusdam. Similique qui ullam tenetur
                deserunt asperiores sint ad, unde, accusamus eius ex impedit harum?</p>
            <button class="btn">Order Now!</button>
        </section>

        <section class="services-container">
            <h1 class="primary center">
                Our Services
            </h1>
        
            <div id="services">
                <div class="box">
                    
                    <img src="../Images/1.png" alt=""><h2 class="secondary center">Food Order</h2>
                    <p class="center">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Velit quae ducimus
                        consequatur fugiat tempora atque ea iste quam esse, praesentium dolores, nihil corporis.</p>
                </div>
                <div class="box">
                    <img src="../Images/1.png" alt="">
                   <h2 class="secondary center">Dineout Booking</h2>
                    <p class="center">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Velit quae ducimus
                        consequatur fugiat tempora atque ea iste quam esse, praesentium dolores, nihil corporis.</p>
                </div>
                <div class="box">
                    <img src="../Images/1.png" alt="">
                    <h2 class="secondary center">Best Restaurantes</h2>
                    <p class="center">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Velit quae ducimus
                        consequatur fugiat tempora atque ea iste quam esse, praesentium dolores, nihil corporis.</p>
                </div>
            </div>
        </section>
    </main>
    <footer>
        <p class="center">Copyright &copy; 2021 TastyMeals.com</p>
    </footer>
    <script src='../Scripts/script.js'></script>
</body>
</html>