<!DOCTYPE html>
<html lang='en'>
<head>
    <meta charset='UTF-8'>
    <meta name='viewport' content='width=device-width, initial-scale=1.0'>
    <title>Food Ordering Page</title>
    <link rel='stylesheet' href='/Styles/style.css'>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Baloo+Bhai+2:wght@500&family=Bree+Serif&display=swap"
        rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Baloo+Bhai+2:wght@500&family=Bree+Serif&display=swap"
        rel="stylesheet">
</head>
<body>
    <header>
        <nav class="navbar">
            <div id="logo">
                <img src="../Images/logo.jpg" alt="TastyMeals.com">
            </div>

            <ul>
                <li class="item"><a href="./">Home</a></li>
                <li class="item"><a href="./">Services</a></li>
                <li class="item"><a href="./about.html">About Us</a></li>
                <li class="item"><a href="./">Contact</a></li>
            </ul>
        </nav>
    </header>

    <main>
        <div class='container'>
            <div class='menu-list'>

            </div>
        </div>
    </main>
    
    <script src='/Scripts/script.js'></script>
</body>
</html>