*{
    margin: 0;
    padding: 0;
}

.navbar{
    display: flex;
    align-items: center;
}

#logo{
    margin: 25px 30px;
}

#logo img{
    margin: 7px 12px;
    height: 55px;
    width: 65px;
}

.navbar ul{
    display: flex;
}

.navbar ul li{
    /* color: white; */
    list-style: none;
    font-size: 1.3rem;
}

.navbar ul li a{
    display: block;
    padding: 6px 20px;
    border-radius: 15px;
    text-decoration: none;
}