*{
    margin: 0;
    padding: 0;
}

.navbar{
    display: flex;
    align-items: center;
}

#logo{
    margin: 25px 30px;
}

#logo img{
    margin: 0px 20px;
    height: 38px;
    width: 50px;
    border-radius: 1.5rem;
}

.navbar{
    position: relative;
}

.navbar ul{
    display: flex;
    font-family: 'Baloo Bhai 2', sans-serif;
}

.navbar::before{
     content: "";
     background-color: rgb(12, 12, 12);
     position: absolute;
     height: 100%;
     width: 100%;
     z-index: -1; 
     opacity: 0.5;   
}

.navbar ul li{
    list-style: none;
    font-size: 1.3rem;
}

.navbar ul li a{
    color: white;
    display: block;
    padding: 6px 20px;
    border-radius: 15px;
    text-decoration: none;
}

.navbar ul li a:hover{
    color: black;
    background-color: white;
}

#main{
    display: flex;
    flex-direction: column;
    padding: 5px 200px;
    height: 400px;
    justify-content: center;
    align-items: center;
}

#main::before{
    content: "";
    position: absolute;
    background: url(../Images/bg.jpg) no-repeat center center/cover;
    height: 100%;
    width: 100%;
    z-index: -1;
    opacity: 0.95;
}

#main h1{
    color: whitesmoke;
    text-align: center;
    font-family: 'Bree Serif', serif;
}

#main p{
    color: whitesmoke;
    text-align: center;
    font-size: 1.2rem;
    font-family: 'Bree Serif', serif;
}

.services-container{
    margin: 120px 0;
}

#services{
    margin: 32px;
    display: flex;
}

#services .box{
    border: 2px solid red;
    margin-right: 1.9rem;
}

#services .box img{
    height: 200px;
    margin: auto;
    display: block;
}

.primary{
    font-size: 2.5rem;
    padding: 10px;
}

.btn{
    padding: 6px 22px;
    border: 2px solid white;
    background-color: aqua;
    margin: 20px;
    font-size: 1.2rem;
    border-radius: 15px;
    cursor: pointer;
}

.secondary{
    font-size: 2.0rem;
    padding: 15px;
}

.btn{
    padding: 6px 10px;
    border: 2px solid white;
    background-color: aqua;
    margin: 20px;
    font-size: 1.0rem;
    border-radius: 11px;
    cursor: pointer;

}

.center{
    text-align: center;
}